
  <div style="text-align: center; margin-left: auto; margin-right: auto; width: 30%;">
    <div class="card text-white bg-dark m-3">
      <div class="card-body">

        <label class="float-left" for="nomeUsuario">Nome Filial</label>
        <div class="input-group mb-3">
          <input id="nomeUsuario" placeholder="Nome usuário" class="form-control" type="text" 
           />
        </div>

        <label class="float-left" for="sobrenomeUsuario">Sobrenome Usuario</label>
        <div class="input-group mb-3">
          <input id="sobrenomeUsuario" class="form-control" type="text" 
             />
        </div>

        <label class="float-left" for="idadeUsuario">Idade</label>
        <div class="input-group mb-3">
          <input id="idadeUsuario" class="form-control" type="text"
             />
        </div>

        <label class="float-left" for="cpfUsuario">Cpf: </label>
        <div class="input-group mb-3">
          <input id="cpfUsuario" class="form-control" type="text"
             />
        </div>

        <label class="float-left" for="corfavUsuario">Cor Favorita</label>
        <div class="input-group mb-3">
          <input id="corfavUsuario" class="form-control" type="text" 
             />
        </div>

        <div>       
          <button class="btn btn-danger">Cancelar</button>
          <button class="btn btn-success">Adicionar</button>
        </div>
      </div>
    </div> 
  </div>
